body {
    background-color: #f5f6fa;
    font: Montserrat ExtraBold;
}

.card {
    border: none;
    border-radius: 12px;
}

.navbar-brand {
    font-weight: bold;
}

.btn {
    border-radius: 8px;
}

.flash-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 9999;
}

.flash-message {
    background-color: #212529;
    color: white;
    padding: 14px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;

    min-width: 250px;
    max-width: 400px;
}

.flash-message.show {
    opacity: 1;
    transform: translateX(0);
}